# Prerequisites
*.d
BuildCode.bat
/cw
/PulsarPackCreator/Executable/output
/PulsarPackCreator/Executable/input
/testing
/resources
/releases
/.vscode
*/.vscode
/.vs
/PulsarPackCreator/bin
/PulsarPackCreator/obj
/PulsarPackCreator/.vs
/KamekLinker/bin
/KamekLinker/obj
/KamekLinker/.vs
\KamekLinker\.vs
KamekLinker/.vs/
KamekLinker\.vs/
KamekLinker/obj/*
\KamekLinker\obh
KamekLinker/obh/
KamekLinker\obj/
compile_and_link.py
KamekLinker/*

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch
*.editorconfig
BuildTesting.bat

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.out
*.app
*.vsidx
PulsarPackCreator/Executable/Pulsar Pack Creator.dll.config
*.v2

# Pulsar build/scratch and extra files
build/*.map
scratch/
PulsarEngine/UI/CtrlRaceBase/VisualStudioSetup.exe
GameSource/*.bak
Loader/Loader.pul
PulsarPackCreator/Executable/Pulsar Pack Creator.deps.json
PulsarPackCreator/Executable/Pulsar Pack Creator.dll
PulsarPackCreator/Executable/Pulsar Pack Creator.runtimeconfig.json
PulsarPackCreator/Executable/System.IO.Hashing.dll
PulsarPackCreator/Executable/PulsarBMGModified.txt

# Ignore all txt files
*.txt
!symbols.txt
!versions.txt

# Ignore the entire PulsarPackCreator directory
/PulsarPackCreator/

# Ignore specific Kamek and build files
KamekLinker/Kamek.csproj
KamekLinker/Hooks/BranchHook.cs
KamekLinker/obj/Kamek.csproj.nuget.g.props
KamekLinker/obj/project.assets.json
KamekLinker/obj/Release/net8.0/Kamek.csproj.FileListAbsolute.txt

KamekLinker/Kamek.pdb
KamekLinker/Kamek.exe
KamekLinker/Kamek.pdb
KamekLinker/bin/Release/net8.0/Kamek.deps.json
KamekLinker/bin/Release/net8.0/Kamek.exe
KamekLinker/bin/Release/net8.0/Kamek.pdb
KamekLinker/bin/Release/net8.0/Kamek.runtimeconfig.json
PulsarEngine/Extra/DebugMenuDriver.cpp.disabled
KamekLinker/Kamek.exe
